.bottomNavBar {
  background-color: #fff;
  /* border: 1px solid black;   */
  height: var(--bottomNavHeight);
}

.bottomNavBar > div {
  /* border: 1px solid red; */
  height: 100%;
}

.bottomNavBarItem {
  /* background-color: red; */
  /* padding: 10px 20px 10px 20px; */
  cursor: pointer;
}

.bottomNavBarItem:hover {
  background-color: #d6d6d6;
}

.bottomNavBarItem:active {
  background-color: #959595;
  color: white;
}

.bi {
  font-weight: blod;
}

/* .bottomNavBarItem > div {
  border: 1px solid green;
} */

/* bottomNavBarItem:active {
  background-color: green;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
} */