.infoCardContainer {
  border: 1px solid black;
  padding: 0.1rem;
}

.infoCard {
  background-color: #0066AD;
  color: #fff;
}

.info {
  height: 100%;
  background: #262525;
  color: #05F11D;
  border: 1px solid #fff;
  max-width: 5rem;
}

.info .card-text {
  height: 100%;
}

.myClass {
  height: 100%;
  /* border: 1px solid red; */
}