#root {
  --btn-pin-width: 6em;
}

.infoCardContainer {
  border: 1px solid black;
  padding: 0.1rem;
  overflow: hidden;
  position: relative;
}

.infoCard {
  background-color: #0066AD;
  color: #fff;
  z-index: 1;
  /* min-width: 100; */
  /* flex-basis: 100% */
}

.info {
  height: 100%;
  background: #262525;
  color: #05F11D;
  border: 1px solid #fff;
  min-width: 4rem;
  /* max-width: 5rem; */
}

.info .card-text {
  height: 100%;
}

.myClass {
  height: 100%;
  /* border: 1px solid red; */
}

.pin-wrapper {
  position: absolute;
  z-index: 0;
  border: 1px solid black;
  top: 12px;
  left: 12px;  
}

/* .secondary {
  position: relative;
  background: green;
  width: 100%;
  z-index: 99;
} */
